In [2]:
import pandas as pd

### Create DataFrame

In [3]:
painting_df = pd.DataFrame(
    [
        {"Painting": "Mona Lisa (Knockoff)", "Price": 25, "Popularity": "Very Popular"},
        {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular"},
        {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
        {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular"},
    ]
)
painting_df

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1

### Sort Data

In [6]:
# Sort ascending (default)
painting_df.sort_values("Painting")

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1
1   Van Gogh (Knockoff)       Popular     20

In [4]:
# Sort descending
painting_df.sort_values("Price", ascending=False)

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1