In [5]:
from pathlib import Path
import pandas as pd

csvpath = Path("HistoricalQuotes.csv")
df = pd.read_csv(csvpath)

In [7]:
df.head()

         date   close     volume    open      high     low
0  2019/08/09  164.37  2756441.0  162.54  166.3000  162.05
1  2019/08/08  162.70  5106005.0  168.57  168.6800  158.00
2  2019/08/07  167.00  5857961.0  164.00  167.4450  160.55
3  2019/08/06  161.24  8407653.0  180.10  181.7499  160.62
4  2019/08/05  175.94  5665541.0  173.10  178.2300  170.99

In [8]:
df["close"].pct_change()

0          NaN
1    -0.010160
2     0.026429
3    -0.034491
4     0.091168
5     0.006650
6    -0.006041
7     0.116280
8    -0.008905
9     0.140532
10    0.057489
11   -0.051256
12   -0.089473
13   -0.036665
14   -0.006548
15   -0.089650
16   -0.036484
17   -0.004109
18    0.017390
19   -0.035112
20    0.001681
21    0.044302
22   -0.061366
23   -0.034799
24   -0.007287
25   -0.025787
26   -0.007404
27   -0.011815
28    0.019170
29    0.053087
        ...
40   -0.066609
41    0.004102
42   -0.112207
43    0.333704
44   -0.175193
45   -0.282366
46    0.031156
47    0.007895
48   -0.070109
49    0.082779
50   -0.053112
51   -0.011056
52   -0.117949
53   -0.073605
54    0.030501
55   -0.054446
56   -0.001675
57    0.110839
58    0.037867
59    0.039955
60   -0.064572
61   -0.083295
62   -0.127761
63   -0.047194
64    0.030957
65    0.058298
66    0.095779
67   -0.055324
68   -0.106966
69   -0.015571
Name: close, Length: 70, dtype: float64