In [1]:
import pandas as pd
from pathlib import Path

### Read in data and set index

In [2]:
# Read in data
csv_path = Path("../Resources/stock_data_by_ticker.csv")
ticker_data = pd.read_csv(csv_path, 
                          parse_dates=True, 
                          index_col='Date', 
                          infer_datetime_format=True)
ticker_data = ticker_data.dropna()
ticker_data.head()

,Ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2019-04-09,TWTR,34.840000,35.389999,34.810001,35.139999,35.139999,13889700
2019-04-10,TWTR,35.259998,35.270000,34.509998,34.750000,34.750000,11648800
2019-04-11,TWTR,34.750000,34.869999,34.410000,34.580002,34.580002,10982700
2019-04-12,TWTR,34.669998,34.830002,34.110001,34.369999,34.369999,12713800
2019-04-15,TWTR,34.380001,35.029999,34.340000,34.709999,34.709999,10248400

In [3]:
# Output indexes

### Create multiple indices by grouping by DatetimeIndex `year`, `month`, and `day`

In [4]:
# Group by year, month, and day

### Create multiple indices by goruping by DatetimeIndex year, month, and day with `mean` function

In [5]:
# Group by year and month and calculate average

### Slice data for 4/12/2019

In [6]:
# Slice data for 4/12/2019 from first group

### Slice data for all days in April 2019

In [7]:
# Slice data for April 2019