In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read in CSV data
csv_path = Path('../Resources/fb_nasdaq.csv')
fb_ticker_data = pd.read_csv(csv_path, index_col='Trade DATE', parse_dates=True, infer_datetime_format=True)
fb_ticker_data.head()

           Symbol    NOCP
Trade DATE
2019-05-14     FB  180.73
2019-05-13     FB  181.54
2019-05-10     FB  188.34
2019-05-09     FB  188.65
2019-05-08     FB  189.54

### Drop unnecessary columns

In [3]:
# Drop Trade DATE and symbol column
fb_ticker_data = fb_ticker_data.drop(columns='Symbol')
fb_ticker_data.head()

              NOCP
Trade DATE
2019-05-14  180.73
2019-05-13  181.54
2019-05-10  188.34
2019-05-09  188.65
2019-05-08  189.54

### Slice data for Feb 2019 and calculate daily return

In [4]:
# Calculate daily returns
fb_slice = fb_ticker_data.loc['2019-03-01':'2019-02-01']
fb_quarter_returns = fb_slice.pct_change()
fb_quarter_returns

                NOCP
Trade DATE
2019-03-01       NaN
2019-02-28 -0.005115
2019-02-27  0.008424
2019-02-26  0.008108
2019-02-25  0.002985
2019-02-22 -0.016584
2019-02-21 -0.011428
2019-02-20  0.015746
2019-02-19 -0.001661
2019-02-15  0.001294
2019-02-14  0.008923
2019-02-13  0.000732
2019-02-12  0.005912