In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime, date, timedelta

In [2]:
# Read csv data
csv_path = Path("../../Resources/nasdaq_data.csv")
nasdaq_data = pd.read_csv(csv_path, parse_dates=True, index_col="Trade DATE", infer_datetime_format=True)
nasdaq_data.head()

           Symbol     NOCP
Trade DATE
2019-05-13   GOOG  1132.03
2019-05-10   GOOG  1164.27
2019-05-09   GOOG  1162.38
2019-05-08   GOOG  1166.27
2019-05-07   GOOG  1174.10

### Assess & Clean Data

In [3]:
# Drop unnecessary columns
nasdaq_data = nasdaq_data.drop(columns='Symbol')

# Check for nulls
nasdaq_data.isnull().mean() * 100

# Drop nulls
nasdaq_data = nasdaq_data.dropna()

# Drop duplicates
nasdaq_data = nasdaq_data.drop_duplicates()

# Validate no more missing values
nasdaq_data.isnull().sum()

NOCP    0
dtype: int64

### Group by year and date

In [4]:
# Set multi-index by grouping
nasdaq_data_grp = nasdaq_data.groupby([nasdaq_data.index.year, nasdaq_data.index.month]).first()
nasdaq_data_grp.head()

                          NOCP
Trade DATE Trade DATE
2019       2           1119.92
           3           1173.31
           4           1188.48
           5           1132.03

### Access NOCP for May 2019 using multindexing lookup

In [5]:
# Select GOOG NOCP for May 2019
google_may_2019_data = nasdaq_data_grp.loc[2019,5]
google_may_2019_data

NOCP    1132.03
Name: (2019, 5), dtype: float64

### Look up GOOG closing price for 30 days ago using `timedelta` function.

In [6]:
# Calculating GOOG stock price for 30 days ago
time_delta = date.today() - timedelta(days=30)
goog_thirty_days_ago = nasdaq_data_grp.loc[(time_delta.year,time_delta.month)]
goog_thirty_days_ago

NOCP    1188.48
Name: (2019, 4), dtype: float64